# Exercices — SQL Niveau 1 — CRUD & bases

- **Important** : ces cellules utilisent l’extension `ipython-sql`. Exécute d’abord la cellule suivante.

In [ ]:
%load_ext sql
%sql sqlite:///dbz_lvl1.db

## Préparation — tables de base (tu peux exécuter tel quel)

In [ ]:
%%sql
PRAGMA foreign_keys = ON; -- Activer les clés étrangères pour SQLite (évite des erreurs)

DROP TABLE IF EXISTS characters;
DROP TABLE IF EXISTS teams;

CREATE TABLE teams (
  id INTEGER PRIMARY KEY,
  name TEXT NOT NULL,
  base TEXT
);

CREATE TABLE characters (
  id INTEGER PRIMARY KEY,
  name TEXT NOT NULL,
  race TEXT,
  power_level INTEGER,
  team_id INTEGER,
  FOREIGN KEY (team_id) REFERENCES teams(id)
);

INSERT INTO teams (id, name, base) VALUES
 (1,'Z-Fighters','Kame House'),
 (2,'Forces de Freezer','Vaisseau de Freezer');

INSERT INTO characters (id, name, race, power_level, team_id) VALUES
 (1,'Goku','Saiyan',3000000,1),
 (2,'Vegeta','Saiyan',2500000,1),
 (3,'Piccolo','Namekian',1200000,1),
 (4,'Krillin','Humain',300000,1),
 (5,'Frieza','Alien',5000000,2),
 (6,'Zarbon','Alien',1500000,2),
 (7,'Dodoria','Alien',1200000,2),
 (8,'Captain Ginyu','Alien',2000000,2);

## Exercices (15) — à toi de jouer !

### Exercice 1
Créer une table **d’entraînement** `training_chars(id PK, name NOT NULL, race, power_level)`.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 2
Insérer 3 personnages (ex : Goku, Krillin, Piccolo) dans `training_chars`.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 3
Lister toutes les lignes de `training_chars`.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 4
Afficher uniquement `name` et `power_level` de `training_chars`, triés par puissance décroissante.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 5
Sélectionner les personnages de `characters` dont la `race` est 'Saiyan'.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 6
Afficher les personnages `characters` dont le nom commence par 'G'.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 7
Ajouter une colonne `planet TEXT` à `characters` via `ALTER TABLE`.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 8
Afficher les **planètes** distinctes de `characters` (après avoir mis à jour quelques planètes).

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 9
Compter le **nombre total** de lignes dans `characters`.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 10
Calculer la **moyenne** de `power_level` dans `characters`.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 11
Compter le nombre de personnages par équipe (`team_id`) dans `characters`.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 12
Afficher les personnages avec `power_level >= 1 000 000`.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 13
Afficher les 3 premiers personnages triés par `name` (ordre croissant).

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 14
Augmenter de **10%** la puissance de 'Goku' dans `training_chars`.

In [ ]:
%%sql
-- Écris ta requête SQL ici

### Exercice 15
Supprimer la ligne `training_chars` où `name = 'Krillin'` et vérifier le résultat.

In [ ]:
%%sql
-- Écris ta requête SQL ici